.productos {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

body {
  text-align: center;
}

#mb-3 {
  width: 400px;
}

.text-center {
  width: 500px;
  display: flex;
  justify-content: center;
}
